@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  background-color: #0b0d12;
  color: #e6e8ee;
}

::selection {
  background: #6366f1;
  color: white;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #232733;
  border-radius: 8px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
